<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Vue Exercise</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <div class="container header">
        <h1>Vue.jsを試してみる</h1>
        <a href="../index.html">ホームに戻る</a>
    </div>
    <div class="container">

        <table id="tasks-index" class="table table-striped">
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
                <tr v-for="task in tasks" v-if="!task.isDeleted">
                    <td width="3px">{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>
                        <div class="btn btn-danger" v-on:click="doneTask(task.id)">Done!</div>
                    </td>
                </tr>
                <tr>
                    <td>New</td>
                    <td><input v-model="newTask" class="form-control"></td>
                    <td>
                        <div class="btn btn-primary" v-on:click="createTask">Create Task</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
        <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>