<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Vue.js練習場</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta name="twitter:card" content="summary_largh_image">
    <meta name="twitter:site" content="@ky_yk_d">
    <meta propterty="og:url" content="https://ky-yk-d.github.io/github-pages-practice/vue/practice.html">
    <meta property="og:title" content="こまどのVue.js練習場">
    <meta property="og:description" content="Vue.jsになれるための練習場です。" />
    <meta property="og:image" content="https://cdn-ak.f.st-hatena.com/images/fotolife/k/ky_yk_d/20180504/20180504185225.png"/>
    
</head>
<body>
    <div class="container header">
        <h1>Vue.js練習場</h1>
        <a href="./index.html">戻る</a>
    </div>
    <div class="container">
        <div style="text-align: center">
            <p>概ねこちらの書籍を読みながら書いてみています。</p>
            <a href="https://www.amazon.co.jp/%E9%80%9F%E7%BF%92Vue-js-%E9%80%9F%E7%BF%92%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA-%E5%B1%B1%E7%94%B0%E7%A5%A5%E5%AF%9B-ebook/dp/B07BS62Z94/ref=as_li_ss_il?ie=UTF8&linkCode=li3&tag=alter1992-22&linkId=69924224faaef151489c62255ccf2e72" target="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B07BS62Z94&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=alter1992-22" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=alter1992-22&l=li3&o=9&a=B07BS62Z94" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
        <div id="app" style="background-color:rgb(252, 217, 217);">
            <h2 style="text-align: center">基本</h2>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            基本形。js側に記載した値がそのまま
                        </td>
                        <td>
                            <p>{{message}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Mustache構文の中にJavaScript式を書ける</td>
                        <td><p>{{message.substring(1)}}</p></td>
                    <tr>
                        <td>Mustache構文にせずにディレクティブでも書ける</td>
                        <td><p v-text="message"></p></td>
                    </tr>
                    <tr>
                        <td>{{}}をそのまま表示する</td>
                        <td><p v-pre>{{message}}</p></td>
                    </tr>
                    <tr>
                        <td>通常はhtmlとしては解釈されない</td>
                        <!-- クロスサイトスクリプティング対策になっている -->
                        <td><p>{{htmlsample}}</p></td>
                    </tr>
                    <tr>
                        <td>v-htmlディレクティブを使うとhtmlとして解釈される</td>
                        <!-- （補足）ユーザ入力値の箇所など、信頼できないコンテンツには適用しない -->
                        <td><p v-html="htmlsample"></p></td>
                    </tr>
                    <tr>
                        <td>属性にJavaScript式の値を埋め込む時はv-bindを使う</td>
                        <!-- （補足）ディレクティブのコロンの後方は引数  -->
                        <td><a v-bind:href="urlsample">Twitter（@ky_yk_d）</a></td>
                    </tr>
                    <tr>
                        <td>v-bindは省略構文もある</td>
                        <td><a :href="urlsample">Twitter（@ky_yk_d）</a></td>
                    </tr>
                    <tr>
                        <td>算出プロパティを使う</td>
                        <td><p>{{localEmail}}</p></td>
                    </tr>
                    <tr>
                        <td>メソッドで同じ内容を記載することもできるが、微妙に異なる（後述）</td>
                        <td><p>{{localEmail2()}}</p></td>
                    </tr>
                </tbody>
            </table>
            <!-- 算出プロパティとメソッドの違い -->
            <div>
                <p>↓クリックを押すとメソッドの方だけ更新されて算出プロパティは更新されない</p>
                <form>
                    <input type="button" v-on:click="onclick" value="クリック"/>
                </form>
                <p>算出プロパティ：{{randomc}}</p>
                <p>メソッド：{{randomm()}}</p>
                <p>現在日時：{{current}}</p>
                <p>メソッドは再描画時に常に評価されるが、算出プロパティはそれが依存するプロパティが変更されたときのみ評価される。</p>
            </div>
        </div>
        <div id="app2" style="background-color: #0bd6c5;">
            <h2 style="text-align: center">イベント処理</h2>
            <button class="btn btn-primary" v-on:click.once="onclick('ボタンが押された',$event)">現在時刻を表示</button>{{message}}
            <p>※v-on:click.onceと指定しているので一回しか使えない</p>
            <div id="rightClickArea" v-on:click.right="rightclick">
                <p>このエリアで右クリックするとメッセージが表示される</p>
                <form>
                    <label for="name">氏名</label>
                    <input type="text" id="name" v-on:keyup.esc="clear" v-model="name"/>
                    ※[Esc]でクリア
                </form>
                <form>
                    <label for="inputmessage">メッセージ：</label>Ctrl + H でヘルプが出る<br/>
                    <textarea id="inputmessage" v-on:keyup.control.exact.72="help" v-model="inputmessage">
                    </textarea>
                </form>
            </div>
        </div>
        <div id="app3" style="background-color:rgb(214, 253, 217);">
            <h2 style="text-align: center">フォーム開発</h2>
            <form>
                <label for="name">氏名：</label>
                <input type="text" id="name" v-model="yourName" />
            </form>
            <div>こんにちは、{{yourName}}さん！</div>
            <p>↑入力フォームと連動する（双方向バインディング）</p>
            <form>
                <label for="man">男性</label>
                <input type="radio" id="man" value="男性" v-model="gender"/>
                <br/>
                <label for="woman">女性</label>
                <input type="radio" id="woman" value="女性" v-model="gender"/>
                <br/>
                <label for="other">その他</label>
                <input type="radio" id="other" value="その他" v-model="gender"/>
                <br/> 
            </form>
            <p>性別：{{gender}}</p>
            <form>
                <label for="agree">同意する：</label>
                <input type="checkbox" id="agree" v-model="agree" true-value="◯" false-value="×" />
            </form>
            <div>回答：{{agree}}</div>
            <div>文字列：{{agreeStr}}</div>
            <form>
                <div>使える言語は？（複数回答可）</div>
                <label for="japanese">日本語</label>
                <input type="checkbox" id="japanese" value="日本語" v-model="language" />
                <label for="english">英語</label>
                <input type="checkbox" id="english" value="英語" v-model="language"/>
                <label for="german">ドイツ語</label>
                <input type="checkbox" id="german" value="ドイツ語" v-model="language" />
            </form>
            <p>回答：{{language}}</p>
            <form>
                <select v-model="pglang" multiple size="5">
                    <option value="">得意な言語は？（複数選択可）</option>
                    <option>Java</option>
                    <option>C++</option>
                    <option>Ruby</option>
                    <option>JavaScript</option>
                    <option>Python</option>
                </select>
            </form>
            <p>回答：{{pglang}}</p>
            <form>
                <label for="kb">1KB</label>
                <input type="radio" id="kb" v-model="unit" v-on:change="onchange" v-bind:value="{ name:'キロバイト', size: 1024}" /><br>
                <label for="mb">1MB</label>
                <input type="radio" id="mb" v-model="unit" v-on:change="onchange" v-bind:value="{ name:'メガバイト', size: 1048576}" /><br>
                <label for="gb">1GB</label>
                <input type="radio" id="gb" v-model="unit" v-on:change="onchange" v-bind:value="{ name:'ギガバイト', size: 1073742000}" /><br> 
            </form>
            <form>
                <label for="height">身長：</label>
                <input type="text" id="height" v-model.number="height" v-on:change="onchange2" />
            </form>
            <form>
                <label for="text">トリム対象テキスト：</label>
                <input tyoe="text" id="text" v-model.trim="text" v-on:change="onchange3" />
            </form>
            <div>トリム結果：{{text}}</div>
            <form>
                <label for="lazyText">バインドの遅延（lazy）</label>
                <input type="text" id="lazyText" v-model.lazy="lazyText"/>
            </form>
            <div>フォーカスアウト時点でバインドする：{{lazyText}}</div>
            <form>
                <label for="elementsarea">配列に入れたいものをセミコロン区切りで入力：</label><br>
                <textarea id="elementsarea" v-bind:value="elements.join(';')" v-on:input="elements=$event.target.value.split(';')"></textarea>
            </form>
            <ul>
                <li v-for="element in elements">
                    {{element}}
                </li>
            </ul>
        </div>
        <div id="app4" style="background-color: lightcoral">
            <h2 style="text-align: center">条件分岐とループ</h2>
            <form>
                <label for="show">表示／非表示</label>
                <input type="checkbox" id="show" v-model="toggle" />
            </form>
            <div id="panel" v-if="toggle">
                <h3>toggleの値に応じて切り替える v-if</h3>
                <div>toggle===trueの場合</div>
            </div>
            <div v-else>toggle===falseの場合</div>
            <div v-show="toggle">要素としては残る</div>
            <form>
                <select v-model="season">
                    <option value="">季節を選択してください。</option>
                    <option value="spring">春</option>
                    <option value="summer">夏</option>
                    <option value="automn">秋</option>
                    <option value="winter">冬</option>
                </select>
            </form>
            <div v-if="season==='spring'">春は曙</div>
            <div v-else-if="season==='summer'">夏は夜</div>
            <div v-else-if="season==='automn'">秋は夕暮れ</div>
            <div v-else-if="season==='winter'">冬はつとめて</div>
            <div v-else>未選択です</div>
            <p>配列の内容を列挙する </p>
            <table class="table table-dark">
                <th>No</th><th>著者</th><th>書名</th><th>出版社</th>
                <tr v-for="(b, index) in books">
                    <td>{{index+1}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.title}}</td>
                    <td>{{b.publisher}}</td>
                </tr>
            </table>
            <p>オブジェクトの内容を列挙する</p>
            <ul v-for="(value, key, i) in person">
                <li>{{i+1}}, {{key}} : {{value}}</li>
            </ul>
            <p>数値を列挙する</p>
            <span v-for="i in 5">{{i}}<br></span>
            <p>配列の絞り込み</p>
            <table class="table table-striped">
                <th>名称</th><th>価格</th>
                <tr v-for="m in cheapMachines">
                    <td>{{m.name}}</td>
                    <td>{{m.price}}円</td>
                </tr>
            </table>
            <p>templeteの利用</p>
            <template v-for="b in books">
                <header style="text-align: center">{{b.author}}</header>
                <div>{{b.title}}</div>
                <footer>{{b.publisher}}</footer>
            </template>
            <p>Vue.set()による配列要素の更新</p>
            <form>
                <input type="button" value="変更" v-on:click="onclick" />
            </form>
            <ul>
                <li v-for="item in list">{{item}}</li>
            </ul>
        </div>
        <div id="app5" v-bind:style="{backgroundColor:'Yellow'}">
            <h2 v-bind:style="{textAlign:'center'}">もっとデータバインディング</h2>
            <form>
                <label for="message">メッセージ：</label>
                <input type="text" id="message" v-bind="attrs" />
            </form>
            <div v-bind:text-content.prop="text"></div>
            <form>
                <label for="name">氏名：</label>
                <input type="text" id="name" v-model="name"/>
            </form>
            <div v-once>こんにちは、{{name}}さん！（v-once）</div>
            <div>こんにちは、{{name}}さん！（通常）</div>
            <div v-bind:style="{color:'Red', 'font-size':'1.5em'}">
                {{styleBinding}}
            </div>
            <div v-bind:style="[color, big]">
                {{multiStyle}}
            </div>
            <a v-bind:style="{'tap-highlight-color':'Yellow'}" v-bind:href="url">
                {{url}}
            </a>
            <div class="big" v-bind:class="{color:true, frame: isChange}">
                {{message}}：静的クラスと並存する
            </div>
            <div v-bind:class="[colorClass, frameClass]">
                {{message}}：文字列配列として渡す例
            </div>
            <div v-bind:class="[colorClass,{frame:isChange}]">
                {{message}}：文字列／オブジェクトの配列として渡す例
            </div>
            <p v-cloak>{{vCloakSample}}</p>
        </div>
    </div>
    <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/practice.js"></script>
</body>
</html>